name: Backend Deployment

on:
  workflow_dispatch:
    inputs:
      server:
        description: "배포할 서버 선택"
        required: true
        type: choice
        options: ["195", "26", "27"]

jobs:
  deploy:
    uses: SYSTRAN-KOREA-AI/.github/.github/workflows/deploy-spring-template.yml@main
    with:
      service_name: e2e-test
    secrets:
      # Pass static secrets directly
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}

      # Conditionally pass server-specific secrets based on user input
      target_host: ${{ github.event.inputs.server == '195' && secrets.SERVER_195_HOST || github.event.inputs.server == '26' && secrets.SERVER_26_HOST || secrets.SERVER_27_HOST }}
      target_port: ${{ github.event.inputs.server == '195' && secrets.SERVER_195_PORT || github.event.inputs.server == '26' && secrets.SERVER_26_PORT || secrets.SERVER_27_PORT }}
      target_user: ${{ github.event.inputs.server == '195' && secrets.SERVER_195_USER || github.event.inputs.server == '26' && secrets.SERVER_26_USER || secrets.SERVER_27_USER }}
      TARGET_KEY: ${{ github.event.inputs.server == '195' && secrets.SERVER_195_KEY || github.event.inputs.server == '26' && secrets.SERVER_26_KEY || secrets.SERVER_27_KEY }}