name: Backend Deployment

on:
  workflow_dispatch:
    inputs:
      server:
        description: "배포할 서버 선택"
        required: true
        type: choice
        options: ["195", "26", "27"]

jobs:
  deploy-195:
    if: github.event.inputs.server == '195'
    uses: SYSTRAN-KOREA-AI/.github/.github/workflows/deploy-spring-template.yml@ba62d70a3b13f750a37b77b490508932a2ea91e6
    with:
      service_name: e2e-test
      target_host: ${{ secrets.SERVER_195_HOST }}
      target_port: ${{ secrets.SERVER_195_PORT }}
      target_user: ${{ secrets.SERVER_195_USER }}
    secrets:
      TARGET_KEY: ${{ secrets.SERVER_195_KEY }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}

  deploy-26:
    if: github.event.inputs.server == '26'
    uses: SYSTRAN-KOREA-AI/.github/.github/workflows/deploy-spring-template.yml@ba62d70a3b13f750a37b77b490508932a2ea91e6
    with:
      service_name: e2e-test
      target_host: ${{ secrets.SERVER_26_HOST }}
      target_port: ${{ secrets.SERVER_26_PORT }}
      target_user: ${{ secrets.SERVER_26_USER }}
    secrets:
      TARGET_KEY: ${{ secrets.SERVER_26_KEY }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}

  deploy-27:
    if: github.event.inputs.server == '27'
    uses: SYSTRAN-KOREA-AI/.github/.github/workflows/deploy-spring-template.yml@ba62d70a3b13f750a37b77b490508932a2ea91e6
    with:
      service_name: e2e-test
      target_host: ${{ secrets.SERVER_27_HOST }}
      target_port: ${{ secrets.SERVER_27_PORT }}
      target_user: ${{ secrets.SERVER_27_USER }}
    secrets:
      TARGET_KEY: ${{ secrets.SERVER_27_KEY }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}
