name: Deploy E2E Test

on:
  push:
    branches: [ main ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: application.yaml 파일 만들기
        run: echo "${{ secrets.APP_YML }}" > ./src/main/resources/application.yml

      - name: Build JAR
        run: ./gradlew clean bootJar

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" \
            | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker Image
        #working-directory: ${{ github.workspace }}
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/e2e-test:latest .

      # 6) DockerHub에 Push
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/e2e-test:latest

      # 7) DockerHub 오래된 이미지 삭제
      - name: Cleanup old Docker Hub tags (keep only latest)
        run: |
          TAGS=$(curl -s "https://hub.docker.com/v2/repositories/${{ secrets.DOCKERHUB_USERNAME }}/e2e-test/tags?page_size=100" \
            | jq -r '.results[].name')

          for TAG in $TAGS; do
            if [ "$TAG" != "latest" ]; then
              echo "Deleting tag: $TAG"
              curl -s -X DELETE \
                -H "Authorization: Bearer ${{ secrets.DOCKERHUB_TOKEN }}" \
                "https://hub.docker.com/v2/repositories/${{ secrets.DOCKERHUB_USERNAME }}/e2e-test/tags/$TAG/" \
                > /dev/null
            fi
          done

      # 8) GitHub Actions 로컬 이미지/캐시 정리
      - name: Cleanup local Docker cache
        run: docker system prune -af --volumes

  deploy_to_dev:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      # 9) SSH로 DEV 서버 접속
      - name: Deploy to DEV Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DEV_SERVER_HOST }}
          username: ${{ vars.DEV_SERVER_USER }}
          key: ${{ secrets.DEV_SERVER_SSH_KEY }}
          port: ${{ secrets.DEV_SERVER_PORT }}
          script: |
            echo "[1] 이동"
            cd /opt/business_meeting/e2e-test

            echo "[2] 최신 이미지 Pull"
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/e2e-test:latest

            echo "[3] Compose 재기동"
            docker compose down
            docker compose up -d

            echo "[4] 서버 Docker 이미지 정리"
            docker image prune -af

            echo "[5] Docker 시스템 정리"
            docker system prune -af --volumes

            echo "[6] 상태 확인"
            docker ps
