name: Backend Deployment

on:
  workflow_dispatch:
    inputs:
      server:
        description: "배포할 서버 선택"
        required: true
        type: choice
        options: ["195", "26", "27"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Map server outputs
        id: map
        run: |
          SV="${{ github.event.inputs.server }}"

          if [ "$SV" = "195" ]; then
            echo "HOST=${{ secrets.SERVER_195_HOST }}" >> $GITHUB_OUTPUT
            echo "PORT=${{ secrets.SERVER_195_PORT }}" >> $GITHUB_OUTPUT
            echo "USER=${{ secrets.SERVER_195_USER }}" >> $GITHUB_OUTPUT
            echo "${{ secrets.SERVER_195_KEY }}" | base64 -d > private_key

          elif [ "$SV" = "26" ]; then
            echo "HOST=${{ secrets.SERVER_26_HOST }}" >> $GITHUB_OUTPUT
            echo "PORT=${{ secrets.SERVER_26_PORT }}" >> $GITHUB_OUTPUT
            echo "USER=${{ secrets.SERVER_26_USER }}" >> $GITHUB_OUTPUT
            echo "${{ secrets.SERVER_26_KEY }}" | base64 -d > private_key

          elif [ "$SV" = "27" ]; then
            echo "HOST=${{ secrets.SERVER_27_HOST }}" >> $GITHUB_OUTPUT
            echo "PORT=${{ secrets.SERVER_27_PORT }}" >> $GITHUB_OUTPUT
            echo "USER=${{ secrets.SERVER_27_USER }}" >> $GITHUB_OUTPUT
            echo "${{ secrets.SERVER_27_KEY }}" | base64 -d > private_key
          fi

          chmod 600 private_key

          echo "TARGET_KEY<<EOF" >> $GITHUB_ENV
          cat private_key >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Call deployment template
        uses: SYSTRAN-KOREA-AI/.github/.github/workflows/deploy-spring-template.yml@5e704fe5d8e6d7290f00356fa8a3d3cc73c6afa2
        with:
          service_name: e2e-test
          target_host: ${{ steps.map.outputs.HOST }}
          target_port: ${{ steps.map.outputs.PORT }}
          target_user: ${{ steps.map.outputs.USER }}
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          TARGET_KEY: ${{ env.TARGET_KEY }}
