name: Deploy E2E Test

on:
  # push, pr, issue, workflow_dispatch(수동 트리거), schedule(cron) 등 다양한 이벤트 있음
  pull_request:
    # 이벤트 세부 타입 정보
    types: [opened, synchronize]
    branches: [main]
    paths:
      - "**"
      - "!*.md"

jobs:
  test:
    if: github.event_name == 'pull_request'
    # Runner (해당 스크립트가 실행되는 주체): 현재는 Github Cloud Runner 사용 / Self hosted Runner 전환 가능
    # OS: Linux, Window, MAC OS 사용 가능
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            **/.gradle/config-cache
          key: gradle-cache-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-cache-

      # Config Cache + daemon + parallel build 적용
      - name: Build with Gradle (Config Cache Enabled)
        run: |
          ./gradlew clean build \
            --configuration-cache \
            --parallel \
            --daemon

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: run test
        run: ./gradlew test

  image-build:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            **/.gradle/config-cache
          key: gradle-cache-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-cache-

      # Config Cache + daemon + parallel build 적용
      - name: Build with Gradle (Config Cache Enabled)
        run: |
          ./gradlew clean build \
            --configuration-cache \
            --parallel \
            --daemon

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: application.yaml 파일 만들기
        run: echo "${{ secrets.APP_YML }}" > ./src/main/resources/application.yml

      - name: Build JAR
        run: ./gradlew clean bootJar

  push_docker_hub:
    runs-on: ubuntu-latest
    needs: image-build

    steps:

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" \
            | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/e2e-test:latest .

      # 1) DockerHub에 Push
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/e2e-test:latest

      # 2) DockerHub 이전 이미지 삭제
      - name: Cleanup old Docker Hub tags (keep only latest)
        run: |
          TAGS=$(curl -s "https://hub.docker.com/v2/repositories/${{ secrets.DOCKERHUB_USERNAME }}/e2e-test/tags?page_size=100" \
            | jq -r '.results[].name')

          for TAG in $TAGS; do
            if [ "$TAG" != "latest" ]; then
              echo "Deleting tag: $TAG"
              curl -s -X DELETE \
                -H "Authorization: Bearer ${{ secrets.DOCKERHUB_TOKEN }}" \
                "https://hub.docker.com/v2/repositories/${{ secrets.DOCKERHUB_USERNAME }}/e2e-test/tags/$TAG/" \
                > /dev/null
            fi
          done

      # 3) GitHub Actions 로컬 이미지/캐시 정리
      - name: Cleanup local Docker cache
        run: docker system prune -af --volumes

  deploy_to_dev:
    runs-on: ubuntu-latest
    needs: push_docker_hub

    steps:
      # 1) SSH로 DEV 서버 접속
      - name: Deploy to DEV Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DEV_SERVER_HOST }}
          username: ${{ vars.DEV_SERVER_USER }}
          key: ${{ secrets.DEV_SERVER_SSH_KEY }}
          port: ${{ secrets.DEV_SERVER_PORT }}
          script: |
            echo "[1] 이동"
            cd /opt/business_meeting/e2e-test
            
            echo "[2] 최신 이미지 Pull"
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/e2e-test:latest
            
            echo "[3] Compose 재기동"
            docker compose down
            docker compose up -d
            
            echo "[4] 이미지명 자동 추출"
            IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/e2e-test"
            echo " - 사용 이미지명: $IMAGE_NAME"
  
            echo "[5] ${IMAGE_NAME} 의 'latest' 제외 모든 태그 삭제"
            docker images "$IMAGE_NAME" \
              --format "{{.Repository}}:{{.Tag}} {{.ID}}" \
              | grep -v "latest" \
              | awk '{print $2}' \
              | xargs -r docker rmi -f
            
            echo "[6] Docker 시스템 정리"
            docker system prune -af --volumes
            
            echo "[7] 상태 확인"
            docker ps
