name: Backend Deployment

on:
  workflow_dispatch:
    inputs:
      server:
        description: "배포할 서버를 선택하세요."
        required: true
        type: choice
        options: ["195", "26", "27"]
      service:
        description: "배포할 서비스를 선택하세요."
        required: true
        type: choice
        options:
          - "voice-gateway"
          - "text-retriever"
          - "translation-bridge"
          - "e2e-test"

jobs:
  # 참고: 서버별로 Job을 분리하는 것은 GitHub Secrets의 동적 이름 생성이 불가능하기에 타당한 구조입니다.
  deploy-195:
    if: github.event.inputs.server == '195'
    uses: SYSTRAN-KOREA-AI/.github/workflows/deploy-spring-template.yml@main
    with:
      SERVICE: ${{ github.event.inputs.service }}
      HOST: ${{ secrets.SERVER_195_HOST }}
      PORT: ${{ secrets.SERVER_195_PORT }}
      USER: ${{ secrets.SERVER_195_USER }}
    secrets:
      KEY: ${{ secrets.SERVER_195_KEY }}
      DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}

  deploy-26:
    if: github.event.inputs.server == '26'
    uses: SYSTRAN-KOREA-AI/.github/workflows/deploy-spring-template.yml@main
    with:
      SERVICE: ${{ github.event.inputs.service }}
      HOST: ${{ secrets.SERVER_26_HOST }}
      PORT: ${{ secrets.SERVER_26_PORT }}
      USER: ${{ secrets.SERVER_26_USER }}
    secrets:
      KEY: ${{ secrets.SERVER_26_KEY }}
      DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}

  deploy-27:
    if: github.event.inputs.server == '27'
    uses: SYSTRAN-KOREA-AI/.github/workflows/deploy-spring-template.yml@main
    with:
      SERVICE: ${{ github.event.inputs.service }}
      HOST: ${{ secrets.SERVER_27_HOST }}
      PORT: ${{ secrets.SERVER_27_PORT }}
      USER: ${{ secrets.SERVER_27_USER }}
    secrets:
      KEY: ${{ secrets.SERVER_27_KEY }}
      DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      APP_YML: ${{ secrets.APP_YML }}
